* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #1b013c;
    overflow: hidden;
    color: white;
    font-family: "Poppins", sans-serif;
}

#main-sec {

    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
}

.navbar {
    background-color: #2d095d;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    /* border: 2px solid white; */
    border-radius: 0 0 45px 45px;
}

.blur-effect-pink {
    position: absolute;
    width: 382px;
    height: 382px;
    background-color: rgba(138, 24, 155, 0.5);
    border-radius: 60%;
    top: -20rem;
    left: 22%;
    filter: blur(20px);
    /* adjust this value as needed */
}

.logo {
    height: 100%;
    width: 10%;
    object-fit: cover;
    /* border: 2px solid white; */

}

.logo img {
    height: 100%;
    width: 70%;
    object-fit: cover;


}

.search {
    gap: 1rem;
    display: flex;
    position: absolute;
    border-radius: 1rem;
    top: 1.2rem;
    left: 40%;
    height: 2.8rem;
    width: 25%;
    background-color: #7000ff;
    box-shadow: rgba(13, 12, 13, 0.993) 0px 5px 15px;
}

.search ::placeholder {
    color: white;

}

.search input {
    height: 100%;
    width: 100%;
    font-size: 1.2rem;
    background-color: #7000FF;
    color: white;
    border-radius: 1rem;
    border: none;
    padding: 0px 0px 0px 12px;

}

.bx-search {
    font-size: 1.8rem;
    padding: 5px;
    margin-left: 6rem;
    padding: 8px 0px 0px 0px;

}

.menu {
    margin-top: 1.5rem;
    font-size: 2rem;
    padding-right: 2rem;
}

.search input[type="text"] {
    border: none;
    outline: none;
    /* Removes the default outline */
}

.blur-effect-pink-main-left {
    position: absolute;
    width: 220px;
    height: 100px;
    background-color: rgba(138, 24, 155, 0.5);
    border-radius: 50%;
    top: 78%;
    left: -4%;
    filter: blur(20px);
}

.blur-effect-blue-main-right {
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: rgba(46, 33, 195, 0.782);
    top: 80%;
    left: 95%;
    border-radius: 50%;
    z-index: 50;
    filter: blur(20px);

}

.entire-info {
    display: flex;
}

#place-title {
    font-size: 4rem;
    font-family: "Merriweather", serif;
    font-weight: 600;
    position: absolute;
    top: 10%;
    left: 12%;
}

#place-sub-title {
    font-size: 1.5rem;
    font-family: "Merriweather", serif;
    position: absolute;
    top: 20%;
    left: 12%;
}

.image {
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    position: absolute;
    top: 20%;
    left: 7%;
}

.image img {
    object-fit: cover;

    height: 15rem;
    width: 15rem;
}

.down-icon {
    position: absolute;
    top: 88%;
    left: 50%;
}

.down-icon i {
    font-size: 5rem;
}

.temp{
    display: flex;
    justify-content: center;
    align-items: center;
}

.temp-info{
    position: absolute;
    top: 30%;
    left: 27%;
}
.weather-info{
    font-size: 1.5rem;
}
.temp-value{
    font-size: 4rem;
    color: #00FFFF;
    
}


#weather-conditions{
    height: 25%;
    width: 35%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: absolute;
    top: 55%;
    left: 11%;
    gap: 10px;
}

.stat1-value{
    color: #00FFFF;
}